.LoginMenuPane {
    -fx-background-image: url("../assets/loginMenu/background.jpg");
    -fx-background-size: cover;
    -fx-padding: 100;
}

.Text {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.Label {
    -fx-text-fill: white;
    -fx-font-size: 40;
}