.RegisterMenuPane {
    -fx-background-image: url("../assets/registerMenu/background.jpg");
    -fx-background-size: cover;
    -fx-padding: 100;
}

.Label {
    -fx-text-fill: white;
    -fx-font-size: 40;
}